@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap');

body {
	background-color: rgb(25, 25, 25);
	// background-image: url('/public/saksham-gangwar-YVgOh8w1R4s-unsplash.jpg');
	background-image: url('/alex_rainer-_lEexUTVsHA-unsplash.jpg');
	background-size: cover;
	background-repeat: no-repeat; 
	background-position: center center;
	min-width: 100vw;
	min-height: 100vh;
	color: whitesmoke;
	font-family: 'Encode Sans', sans-serif;
}

nav {
	background-color: black;
	border-bottom: 1px dotted whitesmoke;
}

.btn {
	background-color: black;
}

.list-group-item {
	border: none;
}

svg {
	stroke-width: 2;
	color: #FFE81F;
}

/**
* Font styling
*/
h1 {
	font-weight: 900;
	text-transform: uppercase;
	margin-top: 0.75rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Orbitron', sans-serif;
	margin-bottom: 0.75em;
}

a {
	font-family: 'Orbitron', sans-serif;
	text-transform: uppercase;
}

p,
li,
label,
button {
	font-weight: 400;
	letter-spacing: .18rem;
}

.header-title {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px;
	color: #FFE81F;
}

.category-title {
	color: whitesmoke;
}

.active {
	border-bottom: .5px dotted whitesmoke;
}