@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');

body {
	background-color: rgb(25, 25, 25);
	width: 100vw;
	height: 100vh;
	color: whitesmoke;
}

/**
* Font styling
*/
h1 {
	font-weight: 900;
	text-transform: uppercase;
	margin-top: 0.75rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Orbitron', sans-serif;
	margin-bottom: 0.75em;
}

a {
	font-family: 'Orbitron', sans-serif;
	text-transform: uppercase;
}

p,
li {
	font-weight: 400;
}